# RUN EXECUTABLES #
###################
build/*


# External models #
#################
extern/*
*~

# Editors #
*.swp
*.swo
.vscode/
.idea/
.DS_Store

# Unit test artifacts #
#####################
tests/*.out
tests/*.log
tests/run_smp
tests/run_smp.dSYM/
